@font-face { font-family: always ; src: url('../font/AlwaysTogether.otf'); } 
@font-face { font-family: hadfield ; src: url('../font/hadfield.ttf'); } 
@font-face { font-family: besitos ; src: url('../font/LGfBesitosRound-Light.otf'); } 